<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">

	<%= link_to "Home", root_path %>
	<%= link_to "About us", about_path %>
	<%= render 'layouts/header' %>

<%= yield %>

</body>
</html>
